body { background: #5491aa; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 49px; display: flex; }
.block-notify-0 { color: #1c50de; font-size: 21px; margin-bottom: 5px; }
.block-payment-1 { color: #138423; font-size: 13px; margin-bottom: 5px; }
.block-cache-2 { color: #c3e51f; font-size: 14px; margin-bottom: 5px; }
.block-uploader-3 { color: #eaa44d; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #62ac53; font-size: 16px; margin-bottom: 5px; }
.block-invoice-5 { color: #4411d6; font-size: 14px; margin-bottom: 5px; }
.block-invoice-6 { color: #56c54e; font-size: 16px; margin-bottom: 5px; }
.block-invoice-7 { color: #90d1bc; font-size: 12px; margin-bottom: 5px; }
.block-filter-8 { color: #41b385; font-size: 12px; margin-bottom: 5px; }
.block-search-9 { color: #b7f579; font-size: 18px; margin-bottom: 5px; }
.block-cluster-10 { color: #baba34; font-size: 13px; margin-bottom: 5px; }
.block-logger-11 { color: #7a0529; font-size: 21px; margin-bottom: 5px; }